[submodule "spacemacs-cmake-ide"]
	path = spacemacs-cmake-ide
	url = https://github.com/nagunn/spacemacs-cmake-ide.git
[submodule "google-calendar"]
	path = google-calendar
	url = https://github.com/mhkc/google-calendar-layer
[submodule "journal"]
	path = journal
	url = https://github.com/borgnix/spacemacs-journal.git
